// ----------MOBILE----------
.section-advantages {
  background-color: var(--bg-section-green);
  padding-bottom: 81px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  align-items: center;
}
.advantages-item {
  width: 230px;
}
.advantages-item-icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 90px;
  background: var(--bg-yellow);
  border-radius: 25px;
  margin-bottom: 16px;
  align-items: center;
}
.advantages-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.advantages-title {
  text-align: center;
  color: var(--tetx-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}
.advantages-text {
  text-align: center;
  color: var(--tetx-white);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
}

// ----------TABLET----------

@media screen and (min-width: 768px) {
  .section-advantages {
    padding-bottom: 204px;
  }
  .advantages-list {
    flex-direction: row;
    gap: 80px;
  }
  .advantages-item {
    width: 152px;
  }
  .advantages-item-icon {
    margin-left: 51px;
    margin-bottom: 32px;
  }
  .advantages-title {
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 12px;
  }
  .advantages-text {
    font-weight: 400;
    font-size: 14px;
  }
}

// ----------DESKTOP----------

@media screen and (min-width: 1200px) {
  .section-advantages {
    margin: 0 auto;
    padding-bottom: 178px;
  }
  .advantages-list {
    flex-direction: row;
    gap: 32px;
  }
  .advantages-item {
    width: 368px;
  }
  .advantages-item-icon {
    margin-left: 159px;
    margin-bottom: 40px;
  }
  .advantages-title {
    font-size: 58px;
    line-height: 1.22;
  }
  .advantages-text {
    font-size: 16px;
  }
}
