@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --bg-btn: #0a8817;
  --hover-focus: #0a8817;
  --bg-section: #84a178;
  --bg-section-green: #84a278;
  --bg-item-modal: #9cbe8f;
  --bg-lightgreen: #aec6a5;
  --bg-yellow: #f8d24e;
  --bg-lightyellow: #efd478;
  --bg-lightgrey: #d9d9d9;
  --bg-milkshakes: #d6936d;
  --bg-white: #fcfcfc;
  --bg-disabled: #ababab;
  --bg-placeholder: rgba(248, 210, 78, 0.1);
  --text-black: #131313;
  --tetx-white: #fcfcfc;
  --text-btn: #000000;
  --tex-footer-color: #7a7a7a;
  --footer-stroke-color: #e1e1e1;
  --text-white-color: #ffffff;
  --cursor-spoon: url(/src/images/icon-spoon.png) 4 12, auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-black);
}

body.js-body-menu.active{
overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
