<section class="advantages container">
  <h2 class="visually-hidden">Advantages</h2>
  <ul class="advantages-list list">
    <li class="advantages-item">
      <svg class="advantages-icon" width="36px" height="36px">
        <use href="/src/images/symbol-defs.svg#advantages-icon-cow"></use>
      </svg>
      <h3 class="advantages-title">721</h3>
      <p class="advantages-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages-item">
      <svg class="advantages-icon" width="28.48px" height="35.03px">
        <use href="/src/images/symbol-defs.svg#advantages-icon-weight"></use>
      </svg>
      <h3 class="advantages-title">16kg</h3>
      <p class="advantages-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages-item">
      <svg class="advantages-icon" width="17.11px" height="36px">
        <use href="/src/images/symbol-defs.svg#advantages-icon-ice-cream"></use>
      </svg>
      <h3 class="advantages-title">84</h3>
      <p class="advantages-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
