<section class="contacts container">
  <h2 class="visually-hidden">Contacts</h2>
  <ul class="contacts-card-list list">
    <li
      class="contacts-card-item wow animate__animated animate__zoomIn"
      data-wow-duration="250ms"
      data-wow-delay="100ms"
    >
      <div class="contacts-cathegory">cafe</div>
      <address class="contacts-address">
        <p class="contacts-city">Chicago</p>
        <a
          class="contacts-city-address link"
          href="https://goo.gl/maps/onLeKiqUPa5EWgpr7"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </a>
      </address>
      <ul class="contacts-worktime list">
        <li class="contacts-worktime-item">
          <p class="contacts-worktime-days">Monday - Friday</p>
          <p class="contacts-worktime-time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts-worktime-item">
          <p class="contacts-worktime-days">Saturday - Sunday</p>
          <p class="contacts-worktime-time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts-list list">
        <li class="contacts-item">
          <a class="contacts-link link" href="tel:+610383766284">
            +61(0) 383 766 284</a
          >
        </li>
        <li>
          <a class="contacts-link link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
    <li
      class="contacts-card-item wow animate__animated animate__zoomIn"
      data-wow-duration="250ms"
      data-wow-delay="100ms"
    >
      <p class="contacts-cathegory">foodtruck</p>
      <address class="contacts-address">
        <p class="contacts-city">Los Angeles</p>
        <a
          class="contacts-city-address link"
          href="https://goo.gl/maps/WozrAYqgywG13o358"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </a>
      </address>
      <ul class="contacts-worktime list">
        <li class="contacts-worktime-item">
          <p class="contacts-worktime-days">Monday - Friday</p>
          <p class="contacts-worktime-time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts-worktime-item">
          <p class="contacts-worktime-days">Saturday - Sunday</p>
          <p class="contacts-worktime-time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts-list list">
        <li class="contacts-item">
          <a class="contacts-link link" href="tel:+610383766284">
            +61(0) 383 766 284</a
          >
        </li>
        <li>
          <a class="contacts-link link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
    <li
      class="contacts-card-item wow animate__animated animate__zoomIn"
      data-wow-duration="250ms"
      data-wow-delay="100ms"
    >
      <p class="contacts-cathegory">cafe</p>
      <address class="contacts-address">
        <p class="contacts-city">New York</p>
        <a
          class="contacts-city-address link"
          href="https://goo.gl/maps/2znk9t5Rtn9VNRf28"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          726 Sterling Pl, Brooklyn, NY 11222, USA
        </a>
      </address>
      <ul class="contacts-worktime list">
        <li class="contacts-worktime-item">
          <p class="contacts-worktime-days">Monday - Friday</p>
          <p class="contacts-worktime-time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts-worktime-item">
          <p class="contacts-worktime-days">Saturday - Sunday</p>
          <p class="contacts-worktime-time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts-list list">
        <li class="contacts-item">
          <a class="contacts-link link" href="tel:+610383766284">
            +61(0) 383 766 284</a
          >
        </li>
        <li>
          <a class="contacts-link link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <ul class="contacts-buttons list">
    <li>
      <button
        class="locations-btn js-open-modal wow animate__animated animate__pulse"
        data-modal="7"
        data-wow-duration="250ms"
        data-wow-delay="300ms"
        type="button"
      >
        Our Locations
        <svg class="contacts-btn-icon">
          <use href="./images/symbol-defs.svg#button-icon-arrow-right"></use>
        </svg>
      </button>
    </li>
    <li>
      <button
        class="franchise-btn js-open-modal wow animate__animated animate__pulse"
        data-modal="8"
        data-wow-duration="250ms"
        data-wow-delay="500ms"
        type="button"
      >
        Franchise
        <svg class="contacts-btn-icon">
          <use href="./images/symbol-defs.svg#button-icon-arrow-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
