<footer class="footer-cave" id="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <div class="footer-header">
        <div class="footer-header-first">
          <h3>homemade ice cream</h3>
          <h3>made</h3>
        </div>
        <div class="footer-header-second">
          <h3>with</h3>
          <h3>passion</h3>
        </div>
      </div>
      <div class="footer-contacts">
        <div class="footer-socialmedia-container">
          <ul class="footer-socialmedia">
            <li class="footer-socialmedia-item">
              <a href="" class="footer-socialmedia-link">
                <svg width="20" height="20" class="footer-socialmedia-icon">
                  <use href="./images/symbol-defs.svg#footer-icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socialmedia-item">
              <a href="" class="footer-socialmedia-link">
                <svg width="20" height="16" class="footer-socialmedia-icon">
                  <use
                    href="./images/symbol-defs.svg#footer-icon-telegramm"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="footer-socialmedia-item">
              <a href="" class="footer-socialmedia-link">
                <svg width="9" height="20" class="footer-socialmedia-icon">
                  <use
                    href="./images/symbol-defs.svg#footer-icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-tel-caption">
          <p class="footer-tel-caption-text">Feel free to contact</p>

          <a href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-rights">
    <div class="footer-line">
      <p class="footer-rights-text">
        <span>&copy; 2022 - IceCream.</span><span>All Rights Reserved. </span>
      </p>
    </div>
  </div>
</footer>
