<section class="container gallery-rewiews">
    <h2 class="visually-hidden">Gallery and rewiews</h2>
    <div class="gallery-rewiews-container swiper mySwiperGallery">
        <div class="gallery swiper-wrapper">
            <picture class="gallery-item swiper-slide">

                <source srcset="./images/gallery-first-desktop.png 1x, ./images/gallery-first-desktop@2x.png 2x"
                    media="(min-width:1200px)" type="image/png" class="gallery-photo">

                <source srcset="./images/gallery-first-tablet.png 1x, ./images/gallery-first-tablet@2x.png 2x"
                    media="(min-width:768px)" type="image/png" class="gallery-photo">

                <source srcset="./images/gallery-first-mobile.png 1x, ./images/gallery-first-mobile@2x.png 2x"
                    media="(max-width:767px)" type="image/png" class="gallery-photo">

                <img src="./images/gallery-first-mobile.png" class="gallery-photo" alt="many ice-creams">

            </picture>

            <picture class="gallery-item swiper-slide">

                <source srcset="./images/gallery-second-desktop.png 1x, ./images/gallery-second-desktop@2x.png 2x"
                    media="(min-width:1200px)" type="image/png" class="gallery-photo">

                <source srcset="./images/gallery-second-tablet.png 1x, ./images/gallery-second-tablet@2x.png 2x"
                    media="(min-width:768px)" type="image/png" class="gallery-photo">

                <source srcset="./images/gallery-second-mobile.png 1x, ./images/gallery-second-mobile@2x.png 2x"
                    media="(max-width:767px)" type="image/png" class="gallery-photo">

                <img src="./images/gallery-second-mobile.png" class="gallery-photo" alt="five ice-creams">

            </picture>

            <picture class="gallery-item swiper-slide">

                <source srcset="./images/gallery-third-desktop.png 1x, ./images/gallery-third-desktop@2x.png 2x"
                    media="(min-width: 1200px)" type="image/png" class="gallery-photo">

                <source srcset="./images/gallery-third-tablet.png 1x, ./images/gallery-third-tablet@2x.png 2x"
                    media="(min-width:768px)" type="image/png" class="gallery-photo">

                <source srcset="./images/gallery-third-mobile.png 1x, ./images/gallery-third-mobile@2x.png 2x"
                    media="(max-width: 767px)" type="image/png" class="gallery-photo">

                <img src="./images/gallery-third-mobile.png" class="gallery-photo" alt="pink ice-creams">

            </picture>

        </div>

        <div class="rewiews swiper  mySwiperRewiews">
            <ul class="rewiews-list swiper-wrapper">
                <li class="rewiews-item swiper-slide">
                    <img class="rewiews-img" srcset="./images/reviews-nadiia.png 1x, ./images/reviews-nadiia@2x.png 2x"
                        src="./images/reviews-nadiia.png" alt="Nadiia">
                    <div class="rewiews-box-text">
                        <p class="rewiews-text">I really enjoyed working on the Ice-T team. it was a very valuable
                            experience.
                            Team is awesome!</p>
                    </div>
                    <p class="rewiews-name"> Nadiia Tsytsylina </p>
                </li>

                <li class="rewiews-item swiper-slide">
                    <img class="rewiews-img" srcset="./images/reviews-sofiia.png 1x, ./images/reviews-sofiia@2x.png 2x"
                        src="./images/reviews-sofiia.png" alt="Sofiia">
                    <div class="rewiews-box-text">
                        <p class="rewiews-text">It was a really cool experience working in a team. Everyone did their
                            best.
                        </p>
                    </div>
                    <p class="rewiews-name">Sofiia Nikolenko </p>
                </li>

                <li class="rewiews-item swiper-slide">
                    <img class="rewiews-img"
                        srcset="./images/reviews-alexandr-fedorov.png 1x, ./images/reviews-alexandr-fedorov@2x.png 2x"
                        src="./images/reviews-alexandr-fedorov.png" alt="Alexandr">
                    <div class="rewiews-box-text">
                        <p class="rewiews-text">That was great! Thanks for giving me the opportunity to work on this
                            project in
                            the best team in the world!
                        </p>
                    </div>
                    <p class="rewiews-name">Alexandr Fedorov</p>
                </li>

                <li class="rewiews-item swiper-slide">
                    <img class="rewiews-img" srcset="./images/reviews-alex.png 1x, ./images/reviews-alex@2x.png 2x"
                        src="./images/reviews-alex.png" alt="Alex">
                    <div class="rewiews-box-text">
                        <p class="rewiews-text">Everything was top notch. Recommend.
                        </p>
                    </div>
                    <p class="rewiews-name">Oleksandr Tkachenko</p>
                </li>

                <li class="rewiews-item swiper-slide">
                    <img class="rewiews-img"
                        srcset="./images/reviews-mariana.png 1x, ./images/reviews-mariana@2x.png 2x"
                        src="./images/reviews-mariana.png" alt="Mariana">
                    <div class="rewiews-box-text">
                        <p class="rewiews-text">It was an incredible experience to work on this project with such a
                            talented team.
                            I want to thank each and every one of
                            you.
                        </p>
                    </div>
                    <p class="rewiews-name">Mariana Shkurupii</p>
                </li>

                <li class="rewiews-item swiper-slide">
                    <img class="rewiews-img" srcset="./images/reviews-ivan.png 1x, ./images/reviews-ivan@2x.png 2x"
                        src="./images/reviews-ivan.png" alt="Ivan">
                    <div class="rewiews-box-text">
                        <p class="rewiews-text">We need more sweets, it's a good experience.
                        </p>
                    </div>
                    <p class="rewiews-name">Ivan Fendrykov</p>
                </li>

                <li class="rewiews-item swiper-slide">
                    <img class="rewiews-img" srcset="./images/reviews-julia.png 1x, ./images/reviews-julia@2x.png 2x"
                        src="./images/reviews-julia.png" alt="Julia">
                    <div class="rewiews-box-text">
                        <p class="rewiews-text">It was a great experience in developing a project in a team of
                            purposeful and
                            wonderful people.
                        </p>
                    </div>
                    <p class="rewiews-name">Julia Vasileva</p>
                </li>

                <li class="rewiews-item swiper-slide">
                    <img class="rewiews-img" srcset="./images/reviews-marta.png 1x, ./images/reviews-marta@2x.png 2x"
                        src="./images/reviews-marta.png" alt="Marta">
                    <div class="rewiews-box-text">
                        <p class="rewiews-text">It was great project and teamwork. New experience, new acquaintanceship.
                            Thanks everyone) We are the best!
                        </p>
                    </div>
                    <p class="rewiews-name">Marta Prokopiv</p>
                </li>

                <li class="rewiews-item swiper-slide">
                    <img class="rewiews-img" srcset="./images/reviews-dmitro.png 1x, ./images/reviews-dmitro@2x.png 2x"
                        src="./images/reviews-dmitro.png" alt="Dmitro">
                    <div class="rewiews-box-text">
                        <p class="rewiews-text">New experience and positive impressions from teamwork. Ice-T is the best
                            team!
                        </p>
                    </div>
                    <p class="rewiews-name">Dmytro Balynets</p>
                </li>

                <li class="rewiews-item swiper-slide">
                    <img class="rewiews-img" srcset="./images/reviews-kostia.png 1x, ./images/reviews-kostia@2x.png 2x"
                        src="./images/reviews-kostia.png" alt="Kostia">
                    <div class="rewiews-box-text">
                        <p class="rewiews-text">Good team. They are the best.
                        </p>
                    </div>
                    <p class="rewiews-name">Kostia Sorochan</p>
                </li>

            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>