<section class="hero_section">
  <div class="hero-container container">
    <div class="hero-title-wrap">
      <h1 class="hero-title">
        ice cream made with <span class="passion hero-title">passion</span>
      </h1>
      <ul class="hero-menu list">
        <li class="hero-menu-item">
          <a href="#products" class="hero-menu-link hero-products link"> Products </a>
        </li>
        <li class="hero-menu-item">
          <a href="#about" class="hero-menu-link made link">How it’s made?</a>
        </li>
      </ul>
    </div>

    <div class="quantity-wrap">
      <p class="quantity-cafe quantity-number">16</p>
      <p class="hero-text">cafes</p>
      <p class="quantity-trucks quantity-number">23</p>
      <p class="hero-text">food trucks</p>
    </div>

    <div class="ice_cream_plate-wrap">
      <picture class="ice_cream_plate-img">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero-manyice-desktop.png    1x,
            ./images/hero-manyice-desktop@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero-manyice-tablet.png    1x,
            ./images/hero-manyice-tablet@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/hero-manyice-desktop.png"
          alt="plate with ice-cream"
        />
      </picture>
    </div>

    <div class="hero-description-wrap">
      <p class="hero-description-text hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="#" class="hero-description-link">
        <svg class="hero-arrow" width="40" height="16">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>

    <picture class="hero-ice-cream">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero-threeice-desktop.png    1x,
          ./images/hero-threeice-desktop@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero-threeice-tablet.png    1x,
          ./images/hero-threeice-tablet@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 480px)"
        srcset="
          ./images/hero-threeice-mobile480.png    1x,
          ./images/hero-threeice-mobile480@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 320px)"
        srcset="
          ./images/hero-threeice-mobile320.png    1x,
          ./images/hero-threeice-mobile320@2x.png 2x
        "
        type="image/png"
      />
      <img
        src="./images/hero-threeice-mobile320.png"
        alt="ice cream cone"
        class="hero-ice-cream-img"
      />
    </picture>
  </div>
  <a href="#" class="top-scroll"></a>
</section>
