<section class="hero">
  <div class="container">
    <h1 class="hero_title">Hello project!</h1>
    <p class="hero_text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem expedita
      dolorum fuga, praesentium ipsum molestiae consequuntur. Suscipit, sit!
      Explicabo soluta, architecto exercitationem eaque commodi voluptatum et ut
      dignissimos a, voluptates ipsa sequi non esse beatae maxime. Consequatur
      quaerat quos velit, qui, voluptatem tempora cupiditate necessitatibus
      consequuntur in architecto nam voluptatibus optio, exercitationem iure
      omnis dignissimos officia ipsam beatae assumenda animi labore distinctio
      fuga soluta. Doloremque, at consectetur! Quas aliquam ratione ea quia
      laboriosam, ut illum necessitatibus iusto iure, maiores, facilis suscipit
      itaque explicabo consectetur corporis deleniti impedit reiciendis nesciunt
      numquam hic obcaecati. Numquam, nulla cumque. Autem, cum veniam! Illo,
      aperiam.
    </p>
  </div>
</section>
