<div class="conteiner">
  <div class="modal modal-read" data-modal="6">
    <p class="read-title">How it’s made?</p>
    <iframe
      class="read-video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/8WEMZ86Eho8"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <p class="read-text">
      Watch the video of our ice cream production process, the high
      professionalism of our company is the key to taste and enjoyment. Hurry up
      and order your sweet treat for incredible pleasure.
    </p>
    <button class="read-btn-icon js-modal-close">
      <svg class="read-icon-close" width="11.11" height="11.14">
        <use href="./images/symbol-defs.svg#icon-cross-modal"></use>
      </svg>
    </button>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
