<div class="backdrop">
  <div class="modal-buynow">
    <h1 class="modal-buynow-main-title">Buy now</h1>
    <ul class="list">
      <li class="modal">
        <div class="ellips">
          <div class="ice-cream"></div>
        </div>
        <h2 class="modal-buynow-title">ice cream</h2>
      </li>
      <li class="modal">
        <div class="ellips">
          <div class="ice-coffee"></div>
        </div>
        <h2 class="modal-buynow-title">ice coffee</h2>
      </li>
      <li class="modal">
        <div class="ellips">
          <div class="milkshake"></div>
        </div>
        <h2 class="modal-buynow-title">milkshake</h2>
      </li>
    </ul>

    <!-- ********** form ************** -->

    <form action="">
      <input type="text" placeholder="Name" class="modal-input"/>
      <input type="tel" placeholder="Phone" class="modal-input"/>
      <textarea name="" id="" cols="30" rows="10" class="modal-input"></textarea>
    </form>
  </div>
</div>
