
  <div class="modal modal-location backdrop-location" data-modal="7">
    <button
      class="modal-close-btn js-modal-close"
      type="button"
    >
      <svg class="modal-close-btn-icon">
        <use href="./images/symbol-defs.svg#icon-cross-modal"></use>
      </svg>
    </button>
    <h2 class="modal-location-title">Our Locations</h2>

    <iframe
            class="img-map-dt"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1298.1562201457511!2d34.55071208871668!3d49.59145300527192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f5f3c74cd67%3A0xbb363e2a294c9a89!2sYevropeiska%20St%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1674589774336!5m2!1sen!2sua"
            width="448"
            height="260"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <iframe
          class="img-map-mob"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1298.1562201457511!2d34.55071208871668!3d49.59145300527192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f5f3c74cd67%3A0xbb363e2a294c9a89!2sYevropeiska%20St%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1674589774336!5m2!1sen!2sua"
          width="224"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
    <form target="_blank" class="modal-bnt-form" action="https://www.google.com/maps/place/Yevropeiska+St,+Poltava,+Poltavs'ka+oblast,+36000/@49.587186,34.552175,16z/data=!4m5!3m4!1s0x40d82f3e0c49897d:0xf17e03855687158c!8m2!3d49.5677226!4d34.5314513?hl=en">
      <button class="modal-btn-map" type="submit">Open map</button>
    </form>
  </div>


<div class="overlay js-overlay-modal"></div>