<div class="backdrop">
  <div class="modal-buynow">
    <h1 class="modal-buynow-main-title">Buy now</h1>
    <ul class="list modal-buynow-ul">
      <li class="modal-li ice-cream-li bg-green">
        <div class="ellips cup-ice-cream">
          <div class="ice-cream modal-shift"></div>
        </div>
        <h2 class="modal-buynow-title">ice cream</h2>
      </li>
      <li class="modal-li ice-cream-li bg-yellow">
        <div class="ellips cup-ice-coffee">
          <div class="ice-coffee modal-shift"></div>
        </div>
        <h2 class="modal-buynow-title">ice coffee</h2>
      </li>
      <li class="modal-li ice-cream-li bg-brown">
        <div class="ellips cup-milkshake">
          <div class="milkshake modal-shift"></div>
        </div>
        <h2 class="modal-buynow-title">milkshake</h2>
      </li>
    </ul>

    <!-- ********** form ************** -->

    <form clas="modal-buynow-form">
      <input type="text" placeholder="Name" class="modal-input"/>
      <input type="tel" placeholder="Phone" class="modal-input"/>
      <textarea name="Comment" id="" cols="30" rows="3" class="modal-input" placeholder="Comment"></textarea>
    </form>
  </div>
</div>
