
  <div class="modal modal-location backdrop-location" data-modal="7">
    <button
      class="modal-close-btn js-modal-close"
      type="button"
    >
      <svg class="modal-close-btn-icon">
        <use href="./images/symbol-defs.svg#icon-cross-modal"></use>
      </svg>
    </button>
    <h2 class="modal-location-title">Our Locations</h2>

    <a href="https://goo.gl/maps/dt9Ys3vPc51TB7AK7"
      ><img
        class="img-map-dt"
        srcset="
          ./images/modal-location-desk-tabl.webp 1x,
          ./images/modal-location-desk-tabl@2x.webp 2x
        "
        src="./images/modal-location-desk-tabl.webp"
        alt="map"
    /></a>
    <a href="https://goo.gl/maps/dt9Ys3vPc51TB7AK7"
      ><img
        class="img-map-mob"
        srcset="
          ./images/modal-location-mobile.webp    1x,
          ./images/modal-location-mobile@2x.webp 2x
        "
        src="./images/modal-location-mobile.webp"
        alt="map"
    /></a>
    <form class="modal-bnt-form" action="https://goo.gl/maps/dt9Ys3vPc51TB7AK7">
      <button class="modal-btn-map" type="submit">Open map</button>
    </form>
  </div>


<div class="overlay js-overlay-modal"></div>