<section class="section products">
  <div class="container">
    <h2 class="section-products-title">
      <span class="natural">100% natural</span>
      <span class="products">products</span>
    </h2>
    <ul class="products-list">
      <li class="products-card">
        <div class="wrapper-img cream">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/products-ice-cream-desktop.png    1x,
                ./images/products-ice-cream-desktop@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products-ice-cream-tablet.png    1x,
                ./images/products-ice-cream-tablet@2x.png 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products-ice-cream-mobile.png    1x,
                ./images/products-ice-cream-mobile@2x.png 2x
              "
            />

            <img
              class="p-image"
              src="./images/products-ice-cream-mobile.png"
              alt="ice-cream"
            />
          </picture>
        </div>
        <div class="products-card-descr cream">
          <div class="descr">
            <p class="product-name">ice cream</p>
            <p class="product-descr">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
          </div>
          <div class="read-more">
            <button
              type="button"
              class="read-more-btn js-open-modal"
              data-modal="3"
            >
              <svg class="arrow-p" width="40" height="16">
                <use href="./images/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="products-card">
        <div class="wrapper-img coffee">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/products-ice-coffee-desktop.png    1x,
                ./images/products-ice-coffee-desktop@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products-ice-coffee-tablet.png    1x,
                ./images/products-ice-coffee-tablet@2x.png 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products-ice-coffee-mobile.png    1x,
                ./images/products-ice-coffee-mobile@2x.png 2x
              "
            />

            <img
              class="p-image"
              src="./images/products-ice-coffee-mobile.png"
              alt="ice-coffee"
            />
          </picture>
        </div>
        <div class="products-card-descr coffee">
          <div class="descr">
            <p class="product-name">ice coffee</p>
            <p class="product-descr">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
          </div>
          <div class="read-more">
            <button
              type="button"
              class="read-more-btn js-open-modal"
              data-modal="4"
            >
              <svg class="arrow-p" width="40" height="16">
                <use href="./images/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="products-card">
        <div class="wrapper-img shakes">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/products-milkshakes-desktop.png    1x,
                ./images/products-milkshakes-desktop@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products-milkshakes-tablet.png    1x,
                ./images/products-milkshakes-tablet@2x.png 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products-milkshakes-mobile.png    1x,
                ./images/products-milkshakes-mobile@2x.png 2x
              "
            />

            <img
              class="p-image"
              src="./images/products-milkshakes-mobile.png"
              alt="milkshake"
            />
          </picture>
        </div>

        <div class="products-card-descr shakes">
          <div class="descr">
            <p class="product-name">milkshakes</p>
            <p class="product-descr">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
          </div>
          <div class="read-more">
            <button
              type="button"
              class="read-more-btn js-open-modal"
              data-modal="5"
            >
              <svg class="arrow-p" width="40" height="16">
                <use href="./images/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
